src/main/app/proxy-last_fm.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="localhost" port="8081" doc:name="HTTP Listener Configuration"/>
    <flow name="proxy-last_fmFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/details" allowedMethods="GET" doc:name="Receive HTTP request"/>
        <expression-component doc:name="Setting query variables"><![CDATA[flowVars.artist = message.inboundProperties['http.query.params'].artist;
flowVars.track = message.inboundProperties['http.query.params'].track;]]></expression-component>
        <choice doc:name="Choice">
            <when expression="#[flowVars.artist != null || flowVars.track != null]">
                <flow-ref name="proxy-last_fmSub_Flow" doc:name="Sub Flow"/>
            </when>
            <otherwise>
                <set-payload value="${invalid.request}" mimeType="text/json" doc:name="Set Payload with invalid request message"/>
            </otherwise>
        </choice>
        <logger message="artist=#[flowVars.artist], track=#[flowVars.track], payload=#[payload]" level="INFO" doc:name="Log the reply"/>
    </flow>
    <sub-flow name="proxy-last_fmSub_Flow">
        <set-payload value="#[message.inboundProperties['http.query.string']]" doc:name="Set Payload"/>
    </sub-flow>
</mule>
